body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
h2 {
  padding-top: 30px;
  margin: 0 auto;
}
h3 {
  margin-top: 30px;
  position: relative;
  right: -180px;
}

h4 {
  margin: 0 auto;
}
h5 {
  font-size: 25px;
}

a {
  text-decoration: none;
  font-size: 30px;
}
a:hover {
  color: #8609c0;
  cursor: pointer;
}
li {
  text-transform: capitalize;
  text-align: right;
  position: relative;
  font-size: 20px;
  top: -80px;
  list-style-type: none;
}

p,
ul {
  padding: 0 auto;
  margin: 0 auto;
}

.container {
  background-image: linear-gradient(
    #13225a,
    #202a66,
    #453f82,
    #6e5194,
    #855b9c,
    #905f9f,
    #9662a2
  );
  color: #facbf0;
  max-width: 650px;
  min-height: 700px;
  border-radius: 30px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 15px;
}

::placeholder {
  color: #facbf0;
}

.city-input {
  min-width: 65%;
  min-height: 25px;
  border-radius: 2rem;
  border: none;
  padding: 0.5rem;
  background: linear-gradient(
    to left bottom,
    #855b9c,
    rgba(255, 255, 255, 0.2)
  );

  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.city-input:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 16px #071549;
}
.search-btn,
.currentBtn {
  margin-left: 8px;
  width: 90px;
  min-height: 35px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: rgb(143, 142, 143);
  background: linear-gradient(
    to left bottom,
    #855b9c,
    rgba(255, 255, 255, 0.2)
  );

  border: none;
  border-radius: 2rem;
  box-shadow: 0 10px 16px rbga(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.search-btn:hover,
.currentBtn:hover {
  box-shadow: 0 8px 15px #071549;
  transform: translateY(-4px);
}
.discription {
  text-align: left;
}
.icon {
  position: relative;
  left: 220px;
  top: -80px;
}
.temperature {
  font-size: 180px;
  margin-left: 20px;
  position: relative;
  left: -200px;
}
.units {
  color: #a058c7;
  position: relative;
  left: -190px;
  top: -100px;
}

.highlighted {
  color: rgb(204, 1, 170);
}
.row {
  text-align: center;
  font-size: 30px;
}
.weather-forecast-temperature {
  font-size: 20px;
  margin-bottom: 20px;
}
.project-link {
  font-size: 20px;
}
